<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" aria-label="Cancel"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Delete Item</h4>
</div>
<div class="modal-body">
	This will permanently remove this item from your database. You sure?
	<img style="width320px;height:265px;" src="http://www.digmydog.org/images/dogs/1205/-dogs-1337681866.jpg"/>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" ng-click="delete()">Do it bro</button>
  <button class="btn btn-warning" ng-click="cancel()">Don't Delete it</button>
</div>