    <!-- SIDEBAR -->
    <div class="sidebar col-sm-2 no-print">
        <div class="sidebar-inner">
          <div>
            <h4>Diagrams</h4>
            <a href="" class="item" ng-click="toScroll('uml')">
              <span>UML Diagram</span>
            </a>
          </div>
          <div>
            <h4>Models</h4>
            {% for name, item in models %}
            <a href="" class="item" ng-click="toScroll('model'+{{name}})">
              <span style="text-transform:capitalize;">
              {% if item.properties.label %}{{item.properties.label}}{% endif %}
              {% if !item.properties.label %}{{name}}{% endif %}
              </span>
            </a>
            {% endfor %}
          </div>
          {% for name, controller in controllers %}
          <div>
            <h4>{{name}}</h4>
            {% for item in controller.functions %}
            <a href="" class="item" ng-click="toScroll('{{item.restRoute}}')">
              <span class="label
              {% if item.method === 'get' %}label-success{% endif %}
              {% if item.method === 'post' %}label-primary{% endif %}
              {% if item.method === 'delete' %}label-danger{% endif %}
              {% if item.method === 'put' %}label-info{% endif %}">
              {{item.method}}</span>
              <span>{{item.restRoute}}</span>
            </a>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
      </div>
      <!-- END SIDEBAR -->

      <!-- DIAGRAMS -->
      <div class="docs-content col-lg-10 col-md-10">
          <h2 style="text-transform: capitalize"><i>UML Diagram</i></h2>
          <div id="uml" style="width:100%; height:500px;"></div>
      </div>
      <!-- END DIAGRAMS -->

      <!-- MODELS -->
      {% for name, item in models %}
      <div>
        <div class="docs-content col-lg-10 col-md-10" id="model{{name}}" ng-controller="modelCtrl">
          <h2 style="text-transform: capitalize">The <i>{{name}}</i> Model</h2>
          {% if model.properties.description %}
          <p class="lead">{{model.properties.description}}</p>
          {% endif %}
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>Field</th>
                <th>Description</th>
                <th>Constraints</th>
                <th>Example</th>
              </tr>
            </thead>
            {% for name, field in item.schemaOriginal %}
            <tbody>
              <tr>
                <td>
                  {{name}}<br/>
                  <button type="button" class="btn btn-default btn-xs" {% if (!isRef(field) && !isComplexType(field))%}disabled="disabled"{% endif %} ng-click="fieldBtn(field)">
                  {{getTypeLabel(field)}}
                  </button>
                  {% if (field.readOnly || field.virtual) %}<button type="button" class="btn btn-link btn-xs" disabled="true">Read-Only</button>{% endif %}
                  {% if (field.index) %}<button type="button" class="btn btn-link btn-xs" disabled="true">Indexed</button>{% endif %}
                </td>
                <td>{{field.description}}</td>
                <td>
                  {% if field.virtual %}<p>This is a virtual field<br /><code>={{field.virtual}}</code></p>{% endif %}
                  {% if field.match %}<p>This string must match {{field.match}}</p>{% endif %}
                  {% if field.minlength %}<p>This field must be at least {{field.minlength}} characters long</p>{% endif %}
                  {% if field.maxlength %}<p>This field cannot be more than {{field.maxlength}} characters long</p>{% endif %}
                  {% if field.unique %}<p>This field must be unique</p>{% endif %}
                  {% if field.required %}<p>This field is required</p>{% endif %}
                  {% if field.max %}<p>This field cannot exceed {{field.max}}</p>{% endif %}
                  {% if field.min %}<p>This field cannot exceed {{field.min}}</p>{% endif %}
                  {% if field.choices %}<p>This field displayed as {{field.choices}}</p>{% endif %}
                  {% if field.fileType %}<p>This must be {{field.fileType}} type</p>{% endif %}
                  {% if field.maxSize %}<p>File size must not exceed {{field.maxSize}}</p>{% endif %}
                  {% if field.protocol %}<p>Url must use {{field.protocol}}</p>{% endif %}
                  {% if field.maxlat %}<p>Maximum latitude is {{field.maxlat}}</p>{% endif %}
                  {% if field.minlat %}<p>Minimum latitude is {{field.minlat}}</p>{% endif %}
                  {% if field.maxlng %}<p>Maximum longitude is {{field.maxlng}}</p>{% endif %}
                  {% if field.minlng %}<p>Minimum longitude is {{field.minlng}}</p>{% endif %}
                  {% if field.options %}<p>Options for field {{field.options}}</p>{% endif %}
                  {% if field.maxpicked %}<p>Cannot choose more than {{field.maxpicked}}</p>{% endif %}
                  {% if field.minpicked %}<p>Must choose at least {{field.minpicked}}</p>{% endif %}
                </td>
                <td>
                  {% if field.example %}<p>{{field.example}}</p>{% endif %}
                </td>
              </tr>

              {% if (isComplexType(field)) %}
              <tr ng-show="field._showSubSchema">
                <td colspan="3">
                  <h5 style="text-transform:capitalize;">{{name}} Subschema</h5>
                  <table class="table table-striped table-bordered table-hover" >
                    <thead>
                      <tr>
                        <th>Field</th>
                        <th>Description</th>
                        <th>Constraints</th>
                      </tr>
                    </thead>
                    {% for subname, subfield in field.subSchema %}
                    <tbody>
                      <tr>
                        <td>
                          {{subname}}<br/>
                          <button type="button" class="btn btn-default btn-xs" {% if (!isRef(subfield) && !isComplexType(subfield))%}disabled="disabled"{% endif %} ng-click="fieldBtn(field)">
                          {{getTypeLabel(subfield)}}
                          </button>
                        </td>
                        <td>{{subfield.description}}</td>
                        <td>
                          {% if subfield.virtual %}<p>This is a virtual field<br /><code>={{subfield.virtual}}</code></p>{% endif %}
                          {% if subfield.match %}<p>This string must match {{subfield.match}}</p>{% endif %}
                          {% if subfield.minlength %}<p>This field must be at least {{subfield.minlength}} characters long</p>{% endif %}
                          {% if subfield.maxlength %}<p>This field cannot be more than {{subfield.maxlength}} characters long</p>{% endif %}
                          {% if subfield.unique %}<p>This field must be unique</p>{% endif %}
                          {% if subfield.required %}<p>This field is required</p>{% endif %}
                          {% if subfield.max %}<p>This field cannot exceed {{subfield.max}}</p>{% endif %}
                          {% if subfield.min %}<p>This field cannot exceed {{subfield.min}}</p>{% endif %}
                          {% if subfield.choices %}<p>This field displayed as {{subfield.choices}}</p>{% endif %}
                          {% if subfield.fileType %}<p>This must be {{subfield.fileType}} type</p>{% endif %}
                          {% if subfield.maxSize %}<p>File size must not exceed {{subfield.maxSize}}</p>{% endif %}
                          {% if subfield.protocol %}<p>Url must use {{subfield.protocol}}</p>{% endif %}
                          {% if subfield.maxlat %}<p>Maximum latitude is {{subfield.maxlat}}</p>{% endif %}
                          {% if subfield.minlat %}<p>Minimum latitude is {{subfield.minlat}}</p>{% endif %}
                          {% if subfield.maxlng %}<p>Maximum longitude is {{subfield.maxlng}}</p>{% endif %}
                          {% if subfield.minlng %}<p>Minimum longitude is {{subfield.minlng}}</p>{% endif %}
                          {% if subfield.options %}<p>Options for field {{subfield.options}}</p>{% endif %}
                          {% if subfield.maxpicked %}<p>Cannot choose more than {{subfield.maxpicked}}</p>{% endif %}
                          {% if subfield.minpicked %}<p>Must choose at least {{subfield.minpicked}}</p>{% endif %}
                        </td>
                      </tr>
                    </tbody>
                    {% endfor %}
                  </table>
                </td>
              </tr>
              {% endif %}
            </tbody>
            {% endfor %}
          </table>
          <button type="button" class="btn btn-default btn-xs" ng-click="displayJSON(model)" style="margin-bottom:10px;">
            {{ '{{' }}model.displayTable ? 'Hide JSON' : 'Display as raw JSON'{{ '}}' }}
          </button>
          <pre ng-show="model.displayTable">{{model || json}}</pre>
        </div>
      </div>
      {% endfor %}
      <!-- END MODELS -->


      {% for controller in controllers %}
      <div style="border-top:1px solid #333;" ng-controller="controllerCtrl">
        {% for item in controller.functions %}
        <div class="height-fix">
          <div class="docs-content col-lg-6 col-md-12" id="{{item.restRoute}}">
            <h4 style="color:#bbb;font-weight:300;">{{item.name}}</h4>
            <h3>
              <span class="label
              {% if item.method === 'get' %}label-success{% endif %}
              {% if item.method === 'post' %}label-primary{% endif %}
              {% if item.method === 'delete' %}label-danger{% endif %}
              {% if item.method === 'put' %}label-info{% endif %}">
              {{item.method}}</span>
              {{item.restRoute}}
            </h3>
            <p class="text-muted">{{item.label}}</p>

            <hr>

            <!-- Description Panel -->
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="table">
                  {% for name, param in item.params %}
                  <div class="col-sm-12">
                    <div class="params col-lg-3 col-md-3 col-sm-2">
                      <span><strong>{{name}}</strong>:</span><br>
                      {% if param.required %}<span class="text-danger">Required</span>{% endif %}
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-10">
                      <span><strong>{{param.type || param}}</strong></span>
                      {% if param.required %}<p class="text-muted">{{param.description}}</p>{% endif %}
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <!-- End Description Panel -->

            <p class="item-description">{{item.description}}</p>

            <div class="no-print">
              <!-- Nav Tabs -->
                <ul class="nav nav-pills">
                    <li role="presentation" class="active"><a aria-controls="json" href="#javascript" role="tab" data-toggle="pill">JavaScript</a></li>
                    <li role="presentation" color="text-muted"><a aria-controls="python" href="#python" role="tab" data-toggle="pill">Python</a></li>
                    <li role="presentation" color="text-muted"><a aria-controls="node" href="#node" role="tab" data-toggle="pill">Node</a></li>
                </ul>

              <!-- Tab Content -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="javascript">
                  <pre>
                    <code class="javascript">

                      {{item.results.success}}

                    </code>
                  </pre>
                </div>
                <div role="tabpanel" class="tab-pane" id="python">
                  <pre>
                    <code class="python">
                      
                    </code>
                  </pre>
                </div>
                <div role="tabpanel" class="tab-pane" id="node">
                  <pre>
                    <code class="node">
                      
                    </code>
                  </pre>
                </div>
              </div>
              <!-- End Tabs -->

              <button class="btn btn-info" style="margin-top:10px;margin-bottom:10px;" ng-click="item.showTestRoute = !item.showTestRoute;item.testResults = false;item.showUnittests = false;">
                <span class="glyphicon glyphicon-record" ></span>
                {{ '{{' }}item.showTestRoute ? 'Hide Test Route' : 'Test Route'}}
              </button>
              <button class="btn btn-warning" style="margin-top:10px;margin-bottom:10px;" ng-click="getUnittests(item);item.showTestRoute = false;item.testResults = false;">
                <span class="glyphicon glyphicon-wrench" ></span>
                {{ '{{' }}item.showUnittests ? 'Hide Unit Tests' : 'Show Unit Tests'}}
              </button>

              <!-- Test Routes -->
              <div class="panel panel-info" ng-if="item.showTestRoute">
                <div class="panel-heading">
                  <h4>Try out route</h4>
                </div>
                <div class="panel-body">
                    <keps-form ng-init="item.testRouteParams = {};item.testRouteErrors = {}" keps-data="item.testParams" keps-errors="item.testRouteErrors" keps-model="item.testRouteParams" ></keps-form>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <span class="label label-primary" ng-class="{'label-success' : item.method === 'get', 'label-primary': item.method === 'post', 'label-danger': item.method === 'delete', 'label-info': item.method === 'put'}">{{item.method}}</span>
                      </span>
                      <input type="text" class="form-control" placeholder="{{item.restRoute}}"disabled="true">
                      <span class="input-group-btn">
                        <button class="btn btn-success" type="button" ng-click="testRoute(item)">Go!</button>
                      </span>
                    </div>
                  </div>
              </div>
              <div class="panel panel-default" ng-show="item.testResults">
                <div class="panel panel-heading">
                <a href="" style="float:right;color:red" ng-click="item.testResults = false">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>

                <div style="background-color:{{'{{'}}item.testResults.statusColor;{{'}}'}};height:10px;width:10px;border-radius:50%;display:inline-block;"></div>
                  {{'{{'}} item.testResults.status{{'}}'}} - {{'{{'}}item.testResults.statusText{{'}}'}}
                </div>
                <div class="panel panel-body">
                  <pre >{{'{{'}} item.testResults.data | json {{'}}'}}</pre>
                </div>       

                <div class="panel panel-body">
                  <table class="table " style="table-layout:fixed;">
                    <tr ng-show="item.testResults.method">
                      <th style="width:25%;background-color:#F1F1F1;">
                        Method
                      </th>
                      <td style="overflow:scroll">
                        {{'{{'}}item.testResults.method{{'}}'}}
                      </td>
                    </tr> 
                    <tr ng-show="item.testResults.url">
                      <th style="width:25%;background-color:#F1F1F1;">
                        Url
                      </th>
                      <td style="overflow:scroll">
                        {{'{{'}}item.testResults.url{{'}}'}}
                      </td>
                    </tr>                     
                    <tr ng-show="item.testResults.headers">
                      <th style="width:25%;background-color:#F1F1F1;">
                        Headers
                      </th>
                      <td style="overflow:scroll">
                        {{'{{'}}item.testResults.headers{{'}}'}}
                      </td>
                    </tr>  
                  </table>
                </div>
                <div class="panel panel-body">
                  <h4>Turn this request into a new unit test?</h4>

                  <button class="btn btn-success" type="button" ng-click="buildUnitTest(item)">
                    Build Unit tests
                  </button>

                  <div ng-show="item.newUnitTests">
                    <h4 ng-show="item.newUnitTests.length === 0"> No new tests created</h4>
                    <div class="col-sm-8 col-sm-offset-2" ng-repeat="test in item.newUnitTests">
                      <h5>Test {{ '{{' }}$index}}</h5>
                      <label>Name:</label>
                      <input type="text" class="form-control" ng-model="test.name"  placeholder="{{'{{'}}test.name{{'}}'}}">
                      <label>Title:</label>
                      <input type="text" class="form-control" ng-model="test.title"  placeholder="{{'{{'}}test.title{{'}}'}}">
                      <label>ItShould:</label>
                      <input type="text" class="form-control" ng-model="test.itShould" placeholder="{{'{{'}}test.itShould{{'}}'}}">
                      <div class="alert alert-success" ng-show="test.updateMessages.success">{{ '{{' }}test.updateMessages.success{{'}}'}}</div>
                      <div class="alert alert-success" ng-show="test.updateMessages.error">{{ '{{' }}test.updateMessages.error{{'}}'}}</div>
                      <button ng-click="updateUnitTest(test)" style="margin-top:10px;"class="btn btn-success">Update Test</button>
                      <hr>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Test Routes -->

              <!-- Unit Tests -->
              <!-- Test Routes -->
              <div class="panel panel-default" ng-if="item.showUnittests">
                <div class="panel-heading">
                  <h4>Unit Tests</h4>
                </div>
                <div class="panel-body">
                  <div ng-show="item.unitTests.length === 0">
                    <p>No Tests</p>
                  </div>
                  <div ng-repeat="test in item.unitTests" class="col-sm-12">
                    <div class="col-lg-6">
                      <h5><b>{{test.name}}</b> - {{test.itShould}}</h5>
                    </div>
                    <div class="col-lg-5 col-lg-offset-1">
                      <button class="btn btn-warning" ng-click="runUnittest(test)">Run Test</button>
                    </div>
                    <div class="col-lg-8 col-lg-offset-2" style="text-align:center" ng-show="test.testResults">
                      <div class="alert alert-success" ng-show="test.displayResults">{{test.testResults}}</div>
                    </div>
                    <div class="col-lg-12">
                      <hr>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Unit Tests -->

              <!-- Confirmation Panel -->


             <!--  <div class="panel panel-danger">
                <div class="panel-heading">
                  <h4>Panel Heading</h4>
                </div>
                <div class="panel-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde deserunt, a provident earum aut facilis voluptas voluptatem, soluta officiis nulla tempore ullam dolor incidunt vitae. Soluta et error, aut quia?</p>
                </div>
              </div> -->
            </div>
            <!-- End No Print -->

          </div>
          <!-- End Row -->

          <!-- Code Example -->
          <div class="docs-right col-lg-4 col-md-12 no-print">
            <h5 class="text-muted">Definition</h5>
            <p class="example-url text-muted">http://sampleapi.acutulus.co<span class="highlight">{{item.restRoute}}</span></p>
            <h5 class="text-muted results-heading">Results Format</h5>
            <!-- Results Nav Tabs -->
            <ul class="nav nav-pills">
              <li role="presentation" class="active"><a aria-controls="success" href="#success" role="tab" data-toggle="pill">Success</a></li>
              <li role="presentation"><a aria-controls="failure" href="#failure" role="tab" data-toggle="pill">Failure</a></li>
            </ul>
            <!-- Results Nav Tab Content -->
            <div class="tab-content">
              <div class="tab-pane active" role="tabpanel" id="success">
                <pre>
                  <code class="json">
                    {{item.results.success}}
                  </code>
                </pre>
              </div>
              <div class="tab-pane" role="tabpanel" id="failure">
                <pre>
                  <code class="json">
                    {{item.results.failure}}
                  </code>
                </pre>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
      <!-- End Code Example -->
    </div>
  </div>
</div>
