    
    <div ng-controller="DocumentationCtrl" class="controller-wrap">
      <div class="container-fluid">

        <div class="row" style="margin-top:40px;" ng-if="loadingRestRoutes">
          <div class="col-sm-4 col-sm-offset-4" style="text-align:center" >
            <div class="alert alert-info">Loading Documentation&nbsp&nbsp<i class="fa fa-spinner fa-spin"></i></div>
          </div>
        </div> 

        <div class="row">
        <!-- SIDEBAR -->
          <div class="sidebar col-sm-2">
            <div class="sidebar-inner">
              <div ng-repeat="(name, controller) in controllers">
                <h4>{{name}}</h4>
                <a href="" ng-repeat="item in controller.functions" class="item" ng-click="toScroll(item)">
                  <span class="label" ng-class="{'label-success' : item.method === 'get', 'label-primary': item.method === 'post', 'label-danger': item.method === 'delete', 'label-info': item.method === 'put'}">{{item.method}}</span>
                  <span>{{item.restRoute}}</span>
                </a>
              </div>
            </div>
          </div>
          <!-- END SIDEBAR -->

          <div ng-repeat="controller in controllers">
            <div ng-repeat="item in controller.functions" class="height-fix">
              <div class="docs-content col-lg-6 col-md-12" id="{{item.restRoute}}">
                <h4 style="color:#bbb;font-weight:300;">{{item.name}}</h4>
                <h3>
                  <span class="label label-primary" ng-class="{'label-success' : item.method === 'get', 'label-primary': item.method === 'post', 'label-danger': item.method === 'delete', 'label-info': item.method === 'put'}">{{item.method}}</span>
                  {{item.restRoute}}
                </h3>
                <p class="text-muted">{{item.label}}</p>

                <hr>

                <!-- Description Panel -->
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="table">
                      <div ng-repeat="(name, param) in item.params" class="col-sm-12">
                        <div class="params col-lg-3 col-md-3 col-sm-2">
                          <span><strong>{{name}}</strong>:</span><br>
                          <span class="text-danger" ng-if="param.required">Required</span>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-10">
                          <span><strong>{{param.type || param}}</strong></span>
                          <p class="text-muted" ng-if="param.description">{{param.description}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Description Panel -->

                <p class="item-description">{{item.description}}</p>

                <!-- Nav Tabs -->
                  <ul class="nav nav-pills">
                      <li role="presentation" class="active"><a aria-controls="json" href="#javascript" role="tab" data-toggle="pill">JavaScript</a></li>
                      <li role="presentation" color="text-muted"><a aria-controls="python" href="#python" role="tab" data-toggle="pill">Python</a></li>
                      <li role="presentation" color="text-muted"><a aria-controls="node" href="#node" role="tab" data-toggle="pill">Node</a></li>
                  </ul>

                <!-- Tab Content -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="javascript">
                    <pre>
                      <code class="javascript">

                        {{item.results.success}}

                      </code>
                    </pre>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="python">
                    <pre>
                      <code class="python">
                        
                      </code>
                    </pre>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="node">
                    <pre>
                      <code class="node">
                        
                      </code>
                    </pre>
                  </div>
                </div>
                <!-- End Tabs -->

                <button class="btn btn-info" style="margin-top:10px;margin-bottom:10px;" ng-click="item.showTestRoute = !item.showTestRoute">
                  <span class="glyphicon glyphicon-record" ></span>
                  {{item.showTestRoute ? 'Hide Test Route' : 'Test Route'}}
                </button>
                <button class="btn btn-warning" style="margin-top:10px;margin-bottom:10px;" ng-click="getUnittests(item);">
                  <span class="glyphicon glyphicon-wrench" ></span>
                  {{item.showUnittests ? 'Hide Unit Tests' : 'Show Unit Tests'}}
                </button>

                <!-- Test Routes -->
                <div class="panel panel-info" ng-if="item.showTestRoute">
                  <div class="panel-heading">
                    <h4>Try out route</h4>
                  </div>
                  <div class="panel-body">
                      <keps-form ng-init="item.testRouteParams = {};item.testRouteErrors = {}" keps-data="item.testParams" keps-errors="item.testRouteErrors" keps-model="item.testRouteParams" ></keps-form>
                      <div class="input-group">
                        <span class="input-group-addon">
                          <span class="label label-primary" ng-class="{'label-success' : item.method === 'get', 'label-primary': item.method === 'post', 'label-danger': item.method === 'delete', 'label-info': item.method === 'put'}">{{item.method}}</span>
                        </span>
                        <input type="text" class="form-control" placeholder="{{item.restRoute}}"disabled="true">
                        <span class="input-group-btn">
                          <button class="btn btn-success" type="button" ng-click="testRoute(item)">Go!</button>
                        </span>
                      </div>
                    </div>
                </div>
                <div class="panel panel-default" ng-show="item.testResults">
                  <div class="panel panel-heading">
                  <a href="" style="float:right;color:red" ng-click="item.testResults = false">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </a>

                  <div style="background-color:{{item.testResults.statusColor;}};height:10px;width:10px;border-radius:50%;display:inline-block;"></div>
                    {{item.testResults.status}} - {{item.testResults.statusText}}
                  </div>
                  <div class="panel panel-body">
                    <pre >{{ item.testResults.data | json }}</pre>
                  </div>       

                  <div class="panel panel-body">
                    <table class="table " style="table-layout:fixed;">
                      <tr ng-show="item.testResults.method">
                        <th style="width:25%;background-color:#F1F1F1;">
                          Method
                        </th>
                        <td style="overflow:scroll">
                          {{item.testResults.method}}
                        </td>
                      </tr> 
                      <tr ng-show="item.testResults.url">
                        <th style="width:25%;background-color:#F1F1F1;">
                          Url
                        </th>
                        <td style="overflow:scroll">
                          {{item.testResults.url}}
                        </td>
                      </tr>                     
                      <tr ng-show="item.testResults.headers">
                        <th style="width:25%;background-color:#F1F1F1;">
                          Headers
                        </th>
                        <td style="overflow:scroll">
                          {{item.testResults.headers}}
                        </td>
                      </tr>  
                    </table>
                  </div>
                </div>
                <!-- End Test Routes -->

                <!-- Unit Tests -->
                <!-- Test Routes -->
                <div class="panel panel-warning" ng-if="item.showUnittests">
                  <div class="panel-heading">
                    <h4>Unit Tests</h4>
                  </div>
                  <div class="panel-body">
                    <div class="table">
                      <div ng-show="item.unitTests.length === 0">
                        <p>No Tests</p>
                      </div>
                      <div ng-repeat="test in item.unitTests" class="col-sm-12">
                        <div class="params col-lg-3 col-md-3 col-sm-2">
                          <h4>{{test.name}}</h4>
                        </div>
                        <div class="col-lg-3 col-lg-offset-1">
                          <button class="btn btn-warning" ng-click="runUnittest(test)">Run Test</button>
                        </div>
                        <div class="col-lg-5" style="text-align:center" ng-show="test.testResults">
                          <div class="alert alert-success" ng-show="test.displayResults">{{test.testResults}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Unit Tests -->

                <!-- Confirmation Panel -->


               <!--  <div class="panel panel-danger">
                  <div class="panel-heading">
                    <h4>Panel Heading</h4>
                  </div>
                  <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde deserunt, a provident earum aut facilis voluptas voluptatem, soluta officiis nulla tempore ullam dolor incidunt vitae. Soluta et error, aut quia?</p>
                  </div>
                </div> -->

              </div>
              <!-- End Row -->

              <!-- Code Example -->
              <div class="docs-right col-lg-4 col-md-12">
                <h5 class="text-muted">Definition</h5>
                <p class="example-url text-muted">http://sampleapi.acutulus.co<span class="highlight">{{item.restRoute}}</span></p>
                <h5 class="text-muted results-heading">Results Format</h5>
                <!-- Results Nav Tabs -->
                <ul class="nav nav-pills">
                  <li role="presentation" class="active"><a aria-controls="success" href="#success" role="tab" data-toggle="pill">Success</a></li>
                  <li role="presentation"><a aria-controls="failure" href="#failure" role="tab" data-toggle="pill">Failure</a></li>
                </ul>
                <!-- Results Nav Tab Content -->
                <div class="tab-content">
                  <div class="tab-pane active" role="tabpanel" id="success">
                    <pre>
                      <code class="json">
                        {{item.results.success}}
                      </code>
                    </pre>
                  </div>
                  <div class="tab-pane" role="tabpanel" id="failure">
                    <pre>
                      <code class="json">
                        {{item.results.failure}}
                      </code>
                    </pre>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Code Example -->
        </div>
      </div>
    </div>
  </body>
</html>
