<div class="modal-header">

	<button type="button" class="close" ng-click="cancel()" aria-label="Cancel"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title">Import Image</h4>

</div>
<div class="modal-body" ng-init="import = true;">
	<div ng-show="import">
		<label>Import image from computer:</label>
		<input type="file" onchange="angular.element(this).scope().fileChanged(event)" accept="image/*"></input>

		<a href="" ng-click="import = false;image.file = ''">Or... Upload an image from a url.</a>
	</div>
	<div ng-show="!import">
		<label>Import image from url:</label>
		<input type="text" class="form-control" ng-model="image.url" placeholder="Enter image url"></input><br>
		<a href="" ng-click="import = true;">Or... Upload a file from your computer</a>
	</div>
	<button class="btn btn-success" ng-click="submit()">Submit</button>
</div>