<div class="modal-body">
	<h3>{{field.name}}</h3>
	<!--
		<select class="query-condition form-control" ng-model="query.modifier">
			<option value="null">No Condition</option>
			<option value="$gt">Greater than</option>
			<option value="$lt">Less than</option>
			<option value="$ne">Not equal</option>
			<option value="$in">Matches in Array</option>
			<option value="$nin">Not in Array</option>
		</select>
		<input ng-model="query.value"></input>
	<button class="btn btn-default" style="margin-bottom:50px;margin-right:25%;" ng-click="buildQuery()">Execute Query</button>-->
	Temp Disabled
</div>