<section data-ng-controller="ShowTableCtrl">
	<div style="text-align:center;">
		<h3>{{newQuery.name}}</h3>
	</div>
	<div class="col-sm-12">
		<table st-table="currentData.query" class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>	
						<button style="margin:0 auto;padding:0" type="button" ng-click="addItem()" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus"></span>
						</button>
					</th>
					<th lr-drag-src="headers" lr-drop-target="headers" ng-repeat="header in currentData.tableHeaders" style="font-size:14px;" class="manage-width ellipses" >
						{{header.name}}
						<span class="dropdown">
							<a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li>
										<a href="" ng-click="removeColumn(header)">Remove Column</a>
									</li>
									<li>
										<a href="" ng-click="sortAsc(header)">Sort Ascending</a>
									</li>
									<li>
										<a href="" ng-click="sortDesc(header)">Sort Descending</a>
									</li>
									<li>
										<a href="" ng-click="showQueryModal(header)">Query Server</a>
									</li>
									<li ng-show="header.model"> 
										<a href="" ng-click="populateIdField(header)">Populate Id</a>
									</li>
								</ul>							
						</span>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in currentData.query">
					<td style="display:inline-block;width:93px;" >
						<div class="btn-group">
							<button style="margin:0 auto;padding:0" type="button" ng-click="removeItem(row)" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-minus"></span>
							</button>
							<button style="margin:0 auto;padding:0" type="button" ng-click="editItem(row)" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-pencil"></span>
							</button>
							<button style="margin:0 auto; padding:0" type="button" ng-click="deleteItem(row)" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span>
							</button>
						</div>
					</td>		
					<td class="manage-width ellipsis"  ng-repeat="key in currentData.tableHeaders" style="min-width:150px;">
						{{row[key.name].value}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>