<section data-ng-controller="ShowTableCtrl">
	<div style="text-align:center;">
		<h3>{{table}}</h3>
	</div>
	<div class="col-sm-6 col-sm-offset-3" ng-show="loadingMessage">
		<div class="alert alert-info" style="text-align:center;">{{loadingMessage}} <span class="glyphicon glyphicon-refresh glyphicon-spin"></span></div>
	</div>
	<div class="col-sm-12" ng-show="!loadingMessage">
		<table st-table="displayData" class="table table-bordered table-hover">
			<thead>
				<tr>
					<th style="width:93px;"> 	
						<button style="margin:0 auto;padding:0" type="button" ng-click="addItem()" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus"></span>
						</button>
					</th>
					<th lr-drag-src="headers" lr-drop-target="headers" ng-repeat="header in tableHeaders" style="font-size:14px;" class="manage-width ellipses" >
						{{header.name}}
						<span class="dropdown">
							<a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li>
										<a href="" ng-click="removeColumn(header)">Remove Column</a>
									</li>
									<li>
										<a href="" ng-click="sortAsc(header)">Sort Ascending</a>
									</li>
									<li>
										<a href="" ng-click="sortDesc(header)">Sort Descending</a>
									</li>
									<li>
										<a href="" ng-click="showQueryModal(header)">Query Server</a>
									</li>
									<li ng-show="header.model"> 
										<a href="" ng-click="populateIdField(header)">Populate Id</a>
									</li>
								</ul>							
						</span>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in displayData">
					<td style="display:inline-block;width:93px;" >
						<div class="btn-group">
							<button style="margin:0 auto;padding:0" type="button" title="hide" ng-click="removeItem(row)" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-minus"></span>
							</button>
							<button style="margin:0 auto;padding:0" type="button" title="edit" ng-click="editItem(row)" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-pencil"></span>
							</button>
							<button style="margin:0 auto; padding:0" type="button" title="delete" ng-click="deleteItem(row)" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span>
							</button>
							<button ng-show="table === 'devices'" style="margin:0 auto;padding:0" type="button" title="send notification" ng-click="pushNotification(row)" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-phone"></span>
							</button>
						</div>
					</td>		
					<td class="manage-width ellipsis"  ng-repeat="key in tableHeaders" style="min-width:150px;">
						{{row[key.name]}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>