<section class="row" data-ng-controller="SignInController">
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2" ng-show="!user">
		<form class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
				</div>
			</fieldset>
		</form>
		<div class="text-center form-group">
			<button class="btn btn-primary" ng-click="signin()">Sign in</button>
			<div class="alert alert-info" ng-show="msgs.loading"><span class="glyphicon glyphicon-refresh glyphicon-spin"></span>{{msgs.loading}}</div>
			<div class="alert alert-success" ng-show="msgs.success">{{msgs.success}}</div>
			<div class="alert alert-danger" ng-show="msgs.error">{{msgs.error}}</div>
		</div>
	</div>
	<div class="col-xs-offset-4 col-xs-4" ng-show="user">
		{{msgs.msg}}
		<a href="" ng-click="signout()">Sign out {{user.displayName}}</a>
	</div>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="host">Host</label>
					<input type="text" id="host" name="host" class="form-control" data-ng-model="host" placeholder="e.g. http://localhost:65137">
				</div>
			</fieldset>
		</form>
		<div class="text-center form-group">
			<button class="btn btn-primary" ng-click="setHost()">Sign in</button>
		</div>
	</div>
</section>