<!-- BUTTONS NG-SHOW/HIDE RESPONSE FROM SERVER
	 LEFT ALIGN TITLE AND BUTTONS AND EVERYTHIN
	 MAKE MODELS INTO TABLE INSTEAD OF LIST GROUP
	 MAKE TABLE sTRIPED
	 MAKE BUTTONS INTO BUTTON GROUP INSTEAD OF 3 BUTTS
-->	
<section ng-controller="SummaryController">
	<div class="container" style="background-color:#EEE;">
		<div class="row" style="text-align:center">
			<h3>Server uptime: <span style="color:green;">{{uptime.hours}} : {{uptime.mins}} : {{uptime.secs}}</span></h3>
		</div>
		<div class="row" style="text-align:center;margin-top:15px;">
			<div style="display:inline-block;margin-right:30px;">
				<a class="btn btn-success btn-lg" ng-click="rebuild()">Rebuild</a>
				<h4>Status: {{rebuild.status}}<h4>
				<h4>Server Response: {{rebuild.statusText}}</h4>
			</div>
			<div style="display:inline-block;margin-left:30px;">
				<a class="btn btn-lg btn-success" ng-click="republish()">Republish</a>
				<h4>Status: {{republish.status}}<h4>
				<h4>Server Response: {{republish.statusText}}</h4>
			</div>
		</div>
		<div class="row" style="margin-top:30px;">
			<div class="col-xs-10 col-xs-offset-1">
				<h4>Project Models:</h4>
				<table class="table-striped table" style="width:100%">
					<tr ng-repeat="route in restRoutes" style="font-size:16px;">
						<td>{{route.name}}<td>
						<td><a href="#!/data/{{route.name}}" class="btn btn-primary" style="margin-right:10px;">&nbspData&nbsp</a></td>
						<td><a href="#!/routes/{{route.name}}" class="btn btn-warning" style="margin-right:10px;">Routes</a></td>
						<td><a href="#!/models/{{route.name}}" class="btn btn-info">Models</a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</section>