<section data-ng-controller="TestingCtrl">
	<div class="container">

		<!-- Page Title -->
		<div class="row">
			<h3>Testing</h3>
		</div>
		
		<!-- Loading Messages -->
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<div class="alert alert-info" style="text-align:center;" ng-show="loading.loading"><i class="fa fa-sun-o fa-spin" aria-hidden="true"></i> ...loading</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<!-- Sidebar / list of controllers>routes>tests -->
			<div class="col-md-4" style="border-right:1px solid rgba(100,100,100,0.5);height:600px;overflow:scroll;padding-bottom:50px;">
				<h4>Tests:</h4>

				<!--controllers -->
				<div ng-repeat="controller in controllers">
					<a  href="" 
						ng-click="controller.showRoutes = !controller.showRoutes">
						{{controller.name}} 
						<i class="fa fa-arrow-circle-right" ng-show="!controller.showRoutes"></i>
						<i class="fa fa-arrow-circle-down" ng-show="controller.showRoutes"></i>
					</a>
					<!-- routes in controller -->
					<div style="margin-left:20px;" ng-show="controller.showRoutes">
						<div ng-repeat="route in routes[controller.name].routes">
							<a 	href="" 
								ng-click="getTestsForRoute(route)">
								{{route.name}}
							</a>
							<!-- tests in route 
							<div style="margin-left:16px;" ng-show="route.showTests">
								<a  href=""
									ng-repeat="test in route.tests"
									ng-click="setActiveTest(test)">
									{{test}}
								</a>	
								<div ng-show="route.tests && route.tests.length === 0"> No Tests Found</div>
							</div>
							-->
						</div>
					</div>
				</div>
			</div> <!-- End Sidebar/list -->

			<div class="col-md-8">
				<h4> Run Tests {{activeRoute.name}}</h4>
				<span ng-show="activeTests">
					Found {{activeTests.length}} test{{activeTests.length === 1 ? '' :'s'}}  for this route
					<button style="float:right;margin-left:15px;" class="btn btn-success" ng-click="createTest();">Create Test</button>
					<button style="float:right;" class="btn btn-warning" ng-click="showCreate = false;showTests = true;">View Tests</button>
				</span>
				<hr>
				<div ng-show="showTests">
					<div class="" ng-repeat="test in activeTests">
						<button class="btn btn-warning" ng-click="runTest(test)">Run {{test.name}} <br>{{test.itShould}}</button>
						{{test.testResults}}
					</div>
				</div>
				<div ng-show="showCreate">
					<h4>Create new test</h4>
						<keps-form
							keps-data="newTestForm.schema"
							keps-errors="newTestForm.errors"
							keps-model="newTestForm.values">
						</keps-form>
					<div ng-show="showCreatedTests" style="max-height: 300px;overflow:scroll;" ng-repeat="test in createdTests">
						Result:
					{{test}}
					</div>

					<button class="btn btn-success" ng-click="buildUnitTest(activeRoute)">
						Create Test

					</button>
				</div>
			</div>
		</div>
	</div>
</section>