.query-input{
	width:40%;
	margin-left:10%;
	display:inline-block;
	margin-bottom:10px;

}
.query-condition{
	margin-bottom:5px;
	width:50%;
}

.new-db-input{
	margin-bottom:35px;
}

.bottom-space{
	margin-bottom:30px;
}

/*Smart table sort carets*/
.st-sort-ascent:before{
    content: '\25B2';
}

.st-sort-descent:before{
   content: '\25BC';
}
/*Drag n drop styles*/
.lr-drop-target-before{
  border-left: 2px solid orange;
}

.lr-drop-target-after{
  border-right: 2px solid orange;
}


.btn-sm{
	width:25px;
	height:25px;
}

/*For Managing huge text in showtable*/
td.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}
td.manage-width{
	max-width:150px;
}