.sidebar-anchors:link{
	text-decoration:none;
	color:white;
}
.sidebar-anchors:visited{
	text-decoration:none;
	color:white;
}
.sidebar-anchors:hover{
	text-decoration:none;
	color:rgb(150,150,150);
}
.sidebar-anchors:active{
	text-decoration:none;
	color:rgb(150,150,150);
}
ul .sidebar-dropdown-links{
	height:auto;
	line-height:inherit;
}
.keps-collapse-button{
	line-height:122px;
	position: absolute;
    text-align: center;
    height: 48px;
    width: 48px;
    left: 7.5%;
    top: 0;
    float: none;
    margin-left: 1.5rem;
    color: #fff;
    font-size: 32px;
    z-index: 2;
}
.keps-title{
    position: absolute;
    top: 18px;
    color: #fff;
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 0;
    white-space: nowrap;
    margin-left: 30px;
}
@media (min-width: 994px) {
    .keps-nav{
        margin-left:240px;
    }
    .page-body{
        margin-left:240px;
    }
}

.keps-nav a {
    color: #222;
}

.keps-nav{
    height: 100px;
    line-height: 64px;
    width:100%;
    background-color: transparent;
    border-bottom: 5px solid #6a3e73;
}

.burger {
    margin-left: 20px;
    margin-top: 18px;
}

.nav-wrapper a {
    color: #222;
}

/************************
        Logo Styles 
************************/

.logo {
    height: 100px;
}

/************************
    Side-bar List Styles 
************************/
.logo img {
    position: relative;
    top: 20px;
}

.btn {
    box-shadow: none;
    border-radius: 0;
}

.bold a span {
    position: absolute;
    top: 6.5px;
    left: 20px;
}











