<section data-ng-controller="EditorController">
	<nav>
		<div class="nav-wrapper">
			<a class="brand-logo" href="#!/editor/summary">Management</a>
			<ul class="right">
				<li class="dropdown" ng-show="authentication.user.admin">
					<a href="#!/editor/tables/default" role="button">{{ 'Editor'}}</a>
				</li>

				<li data-ng-hide="authentication.user">
					<a href="/admin/#!/signin">Sign In</a>
				</li>
				<li ng-show="authentication.user.admin">
					<a href="/auth/signout">Sign Out</a>
				</li>
			</ul>
		</div>
	</nav>	
	<section data-ui-view></section>
</section>