<section data-ng-controller="EditorTableContentsController">
	<div class="container">
		<ul class="collection">
			<li class="collection-item">
				<a class="btn waves-effect waves-light green" 
				href="#!/editor/document/{{currentTable}}/new">New+</a>
			</li>
			<li class="collection-item" ng-repeat="doc in documents">
				<div style="width:70%;text-align:left;display:inline-block;">
					<p>{{doc[schema.properties.displayAs] || schema.properties.displayAs + ' not found. Document ID: ' +  doc['_id'] }}</p>
				</div>
				<div style="width:25%;text-align:right;display:inline-block;">
					<a class="btn waves-effect waves-light blue" style="text-align:center;" href="#!/editor/document/{{currentTable}}/{{doc._id}}">Edit&nbsp&nbsp</a>
				</div>
			</li>
		</ul>
	</div>
</section>