<section data-ng-controller="EditorDocumentController">
	<div style="margin-left:85%;text-align:center;">
		<button class="waves-effect waves-light btn green" style="margin-bottom:10px;">Save</button>
		<br>
		<button class="waves-effect waves-light btn orange" ng-click="back()">Back </button>
	</div>
	<div style="text-align:center;margin-bottom:10px;margin-top:-70px;margin-right:20%;">
		<h5>{{documentData[schema.properties.displayAs] || 'New'}}</h5>
	</div>
	<div style="height:{{windowHeight}};overflow:scroll;" ng-if="schema.schema && documentData">
		<keps-form keps-data="schema.schema" keps-model="documentData" keps-framework="'materialize'"></keps-form>
	</div>
</section>