<section data-ng-controller="EditorDocumentController">
	<div style="position:absolute;margin-left:85%;text-align:center;">
		<button class="waves-effect waves-light btn green" style="margin-bottom:10px;">Save</button>
		<br>
		<button class="waves-effect waves-light btn orange">Back </button>
	</div>
	<div style="text-align:center;margin-bottom:20px;">
		<h5>{{tablename}} - {{documentData[schema.properties.displayAs]}}</h5>
	</div>
	<div class="container" style="height:{{windowHeight}};overflow:scroll" ng-if="schema.schema && documentData">
		<keps-form keps-data="schema.schema" keps-model="documentData"></keps-form>
	</div>
</section>